.btn-landing-page {
	display: inline-block;
	background: #6AD58B;
	border-radius: 50px;
	padding: 16px 36px;
	color: white;
	transition: 0.3s;
	transition: background 0.3s ease;
}

.btn-landing-page:hover {
	opacity: 1;
	background: #3ac162;
	color: white;
}