.list-inline {
	list-style: none;
	padding: 0;
}

.list-inline li {
	display: inline-block;
}

.social-icon {
	font-size: 32px;
	color: #1EDD88;
	margin: 4px;
}

.footer {
	background-color: #2c2b2b;
	text-align: center;
	padding: 48px;
}

.footer p{
	color: #6B6C6C;
}

